#main{
	text-align: center;
	padding-top: 30%;
	color: white;
	font-family:'Lato', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 18px 23px rgba(0,0,0,0.1); 
}
body{
	background: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80);
	background-size : cover;
	background-position: center;
	font-family:'Lato', sans-serif;
}
html{
	height: 100%;
}
h1{
	font-size: 5em;
	font-weight: 700;
}
hr{
	width: 300px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}