body{
	background: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80);
	background-size : cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:'Lato', sans-serif;
	overflow-x: hidden;
}

#main{
	text-align: center;
	/* padding-top: 30%; */
	position: relative;
	top: 40vh;
	color: white;
	font-family:'Lato', sans-serif;
	/* text-shadow: 0px 4px 3px rgba(0,0,0,0.4), */
				 /* 0px 18px 23px rgba(0,0,0,0.1);  */
}
.navbar{
	background-color: transparent;
	font-size: 1.1rem;
	transition:  1s;
}
.navbar-dark .navbar-brand{
	background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
	-webkit-background-clip: text;
	font-size: 1.5rem;
	color: transparent ;
	background-size: 400%;
	animation: head 15s linear infinite alternate;
	color: transparent;
	margin-right: 2rem;
}
.navbar-dark .navbar-brand:hover{
	color:transparent;
}
.navbar.scrolled {
    background: rgb(0, 0, 0);
    transition:  1s;
    font-size: 1rem;
}
.active{
	border-bottom: 3px solid violet;
}

#headin h1{

	font-family: 'Roboto', sans-serif;
	background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
	-webkit-background-clip: text;
	color: transparent ;
	background-size: 400%;
	animation: head 15s linear infinite alternate;
	font-weight: 300;
	font-size: 5rem;
	width: 100vw;
	font-weight: 400;
	letter-spacing: 1rem;
}
@keyframes head{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 200%;
	}
}
 html{
	height: 100vh;
	width: 100vw;
	font-size: 1em;
} 
hr{
	width: 300px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 50px;
}
.button {
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	font-size: 1em;
	color: #fff;
	border-radius: 6px;
	padding: 1em 3em;
	background-size: 300% 300%;
	color: white;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	width: 50%;
	background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
	transition: 0.5s;
  }
  
  .button:hover {
	text-decoration: none;
	color: white;
	background-position: right center;
  }
  #first{
	height: 100vh;
  }
  /* section{
	  margin: 0;
	  padding: 0;
	  height: 100vh;
  }*/
  #second{
	background: #BBD2C5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto;
	height: 70vh;
  }
  @media only screen and (max-width: 1000px) {
	#main{
		top: 25vh;
	}
	html
	{
		/* letter-spacing: 1.5rem; */
		font-size: 0.75rem;
	}
  }

  #headingGroup span {
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 100;
}
#headingGroup span:hover {
    transition: 0.9s;
    font-size: 5rem
}
#headingGroup span {
    transition: 0.9s;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}
#headingGroup{
	/* margin: 200px auto; */
}
#headingGroup h3{
	color: rgb(248, 244, 244);
}
#second .row{
	height: 100%;
	align-items: center;
	padding-left: 10%;
	overflow-x: hidden;
	margin: 0em;
}
#headingGroup hr{
    width: 50%;
  	 margin-left: 3%; 
	border-top: 1px solid #1d1e4b;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 20px;
}
#debun{
	border-radius: 5%;
	height: 25vw;
	border: 1px solid white;
}
.info{
	margin: 1%;
	margin-left: 3%;
}
.info a{
	color: white;
	font-size: 1.1rem;
	margin: 1%;
}
.info:hover{
	font-weight: bolder;
	color: none;
	cursor: pointer;
}
.info a i{
	color: rgb(112, 197, 223);
	margin-right: 1%;
}
.info a:hover{
	text-decoration: none;
}

#third{
	height: 20vh;
}

#fourth{
	/* background: peachpuff; */
	background: #BBD2C5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	  	/* width: 100vw; */

}
#fdiv{
	display: flex;
	justify-content: center;
}
#fourth .row{
	margin: 50px 100px;
}
#fourth .row .col-3{
	display: flex;
	height: 15vh;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);	
	background-size: 200% 200%;
	background-position: left;
	border:1px solid black;
	border-radius: 5px;
	width: auto;
	transition: 0.5s;
	cursor: pointer;
	font-size: 1.5em;
}
#fourth .row .col-3:hover{
	/* background-color: blanchedalmond; */
	font-size: 2em;
	background-position: right;
	transition: 0.3s;
}
#fourth h1{
	margin-top: 25px;
}


  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: auto; 
	padding-top: 200px; 
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto; Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }

  .modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 55px;
	right: 75px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
#fourth h1{
	color: white;
	text-align: center;
	padding: 3%;
	padding-bottom: 0%;
}

button:focus {
    outline:0;
}

#footer a:hover{
    color: white;
}
#footer{
    background-color: black;
    width: 100%;
    height: 220px;
    text-align: center;
    color: white;
    padding-top: 100px;
}
#footer a{
    font-size: 1.5rem;
    padding: 8px;
    color: #b8afaf;
    transition: 0.4s;
}
#footer div p{
    margin-top: 40px;
    color: #b8afaf;
    font-size: 0.8rem;
}


  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
	#fourth .row{
		margin: 50px 20px;
	}
	#headingGroup span:hover{
		font-size: 4rem;
	}
	#debun{
		height: 40vw;
	}
	#second .row{
		padding-left: 0%;
		overflow-x: hidden;
	}
	#second .row .col-7{
		padding: 0;
	}
	.close{
		right: 20px;
	}
  }